body {
   font-family: 'Helvetica', 'Arial', sans-serif;
}

#inputs {
   margin-bottom: 50px;
}

#add-label-input {
   cursor: pointer;
   margin-left: 15px;
}

label {
   font-weight: bold;
   width: 200px;
   float: left;
}
label:after {
   content: ": "
}

select {
   padding: 0 5px;
}

.input-group {
   height: 25px;
}


.label-input-group {
   margin-top: 3px;

   .input-group {
      display: inline-block;
      margin-left: 20px;
   }

   label {
      width: auto;
      margin-right: 15px;
   }

   input {
      width: 40px;
   }

   .delete-label-input {
      margin-left: 20px;
   }
}

#generate-barcodes {
   cursor: pointer;
   margin-top: 20px;
}

.page {
   display: inline-block;
   box-sizing: border-box;
   margin: 25px;
   border: 1px solid black;
   box-shadow: 3px 3px #777;
}

.barcode-label {
   display: table;
   font-size: 14px;
   font-weight: bold;
   float: left;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-sizing: border-box;
}

.barcode-content {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}

.barcode-header {
   font-size: 12px;
}

.barcode-footer {
   margin-top: -2px;
}
.barcode-footer>* {
   display: inline-block;
   margin: 0 7px;
}

@media print {
   @page {
      size: letter portrait;
   }

   .no-print {
      display: none !important;
   }

   .page {
      page-break-inside: avoid;
      page-break-after: always;
      border: none;
      box-shadow: none;
   }

   .barcode-label {
      border: none;
   }
}


/*
 * Avery template 5260 (1" x 2-5/8" address labels)
 */
#pages.template_5260 {
   .page {
      width: calc(8.5in + 2px); /* Account for border width */
      height: calc(11in + 2px); /* Account for border height */
      padding: .5in .1875in;
   }

   .barcode-label {
      width: 2.625in;
      height: 1in;
      margin-right: .125in;
   }
   .barcode-label:nth-child(3n) {
      margin-right: 0;
   }
}


/*
 * Avery template 5195 (2/3" x 1-3/4" return address labels)
 */
#pages.template_5195 {
   .page {
      width: calc(8.5in + 2px); /* Account for border width */
      height: calc(11in + 2px); /* Account for border height */
      padding: .375in .5in;
   }

   .barcode-label {
      width: 1.75in;
      height: .666in;
      margin-right: .166in;
   }
   .barcode-label:nth-child(4n) {
      margin-right: 0;
   }
}


/*
 * Uline template S-20133 (1" x 2" labels)
 */
#pages.template_S-20133 {
   .page {
      width: calc(8.5in + 2px); /* Account for border width */
      height: calc(11in + 2px); /* Account for border height */
      padding: .5in .25in;
   }

   .barcode-label {
      width: 2in;
      height: 1in;
   }
}
