body {
   font-family: 'Helvetica', 'Arial', sans-serif;
}

label {
   font-weight: bold;

   &:after {
      content: ": "
   }
}

.tag-group input {
   text-align: right;
}

#content-container {
   max-width: 11.25in;
}

#pages {
   text-align: center;
   overflow-x: scroll;
}

.page {
   display: inline-block;
   box-sizing: border-box;
   margin: 25px;
   border: 1px solid black;
   box-shadow: 4px 4px #777;
}

.barcode-label {
   font-size: 14px;
   font-weight: bold;
   float: left;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-sizing: border-box;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.barcode-header {
   font-size: 12px;
}

.barcode-footer {
   margin-top: -2px;

   &>* {
      display: inline-block;
      margin: 0 7px;
   }
}

.form-control.is-invalid {
   background-image: none !important;
   background-color: rgba(var(--bs-danger-rgb), .1);
   padding-right: .75rem !important;
}

@media print {
   @page {
      size: letter portrait;
   }

   .no-print {
      display: none !important;
   }

   .page {
      page-break-inside: avoid;
      page-break-after: always;
      border: none;
      box-shadow: none;
   }

   .barcode-label {
      border: none;
   }
}


/*
 * Avery template 5260 (1" x 2-5/8" address labels)
 */
#pages.template_5260 {
   .page {
      width: calc(8.5in + 2px); /* Account for border width */
      height: calc(11in + 2px); /* Account for border height */
      padding: .5in .1875in;
   }

   .barcode-label {
      width: 2.625in;
      height: 1in;
      margin-right: .125in;
   }
   .barcode-label:nth-child(3n) {
      margin-right: 0;
   }
}


/*
 * Uline template S-20133 (1" x 2" labels)
 */
#pages.template_S-20133 {
   .page {
      width: calc(8.5in + 2px); /* Account for border width */
      height: calc(11in + 2px); /* Account for border height */
      padding: .5in .25in;
   }

   .barcode-label {
      width: 2in;
      height: 1in;
   }
}
